name: Sentry Release

on:
  workflow_call:
    inputs:
      ignore-empty:
        required: false
        type: boolean
        default: false
      ignore-missing:
        required: false
        type: boolean
        default: false
      organization:
        required: true
        type: string
      project:
        required: true
        type: string
      release-env:
        required: true
        type: string
      release-name:
        required: true
        type: string
      set-commits:
        required: false
        type: string
        default: "auto"
      sourcemaps:
        required: false
        type: string
        default: ""
    secrets:
      auth-token:
        required: true

jobs:
  release:
    name: Sentry Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Create Sentry release
        uses: getsentry/action-release@v3
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.auth-token }}
          SENTRY_ORG: ${{ inputs.organization }}
          SENTRY_PROJECT: ${{ inputs.project }}
        with:
          environment: ${{ inputs.release-env }}
          ignore_empty: ${{ inputs.ignore-empty }}
          ignore_missing: ${{ inputs.ignore-missing }}
          set_commits: ${{ inputs.set-commits }}
          sourcemaps: ${{ inputs.sourcemaps }}
          release: ${{ inputs.release-name }}
